html {
  --theme: #5cbfdd !important;
}

.button {
  background-color: var(--theme);
}

@media screen and (max-width: 992px) {
  .nav {
    padding: 1.2rem 0.4rem 1.2rem 1.2rem !important;
  }

  html[data-mode="dark"] .nav.show .nav_body {
    background: var(--accent);
  }

  .nav_repo {
    justify-content: flex-start;
    padding: 0 0.5rem;
  }

  .nav_repo img {
    margin: 0;
  }
}

.post-section {
  padding-bottom: 20px;
  margin: 30px 0;
  border-bottom: 1px solid #d7e4e9;
}

.post-section p {
  color: var(--text);
}

.post-section div {
  font-size: 14px;
  color: #1685b1;
}
