{{- $s := .Site }}
{{- $sp := $s.Params }}
<nav class="wrap nav menu">
  <a href="{{ $s.BaseURL }}" class="nav_brand">
    Sharon's Blog
    <label class="nav_toggle toggle" title='{{ T "site_menu" }}' role="button">
      {{ partial "sprite" (dict "icon" "harmburger") }}
    </label>
  </a>
  <ul class="nav_body">
    <li class="nav-item">
      {{- partial "search" . }}
    </li>
    {{- $p := . }}
    {{- range $s.Menus.main }}
    <li class="nav-item">
      {{- $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
      {{- with .Page }}
      {{- $active = or $active ( $.IsDescendant .)  }}
      {{- end }}
      {{- $url := absURL .URL }}
      {{- if or (hasPrefix .URL "http") (hasPrefix .URL "www.") }}
        {{- $url = .URL }}
      {{- end }}
      <a class="nav-link{{if $active }} active{{end}}" href="{{ $url }}"><span{{if $active }} class="active"{{end}}>{{ .Name }}</span></a>
    </li>
    {{- end }}
    {{ $sites := $sp.sites }}
    {{ range $sites }}
    <li class="nav-item nav_repo">
      <a class="nav-link" href="{{ .url }}" target="_blank" style="padding: 0.5rem">
        {{ if .icon }}
          {{- $logoPath := absURL (.icon) }}
          <img src='{{ $logoPath }}' alt='{{ .name }} Site' style="background-color: #fff; padding: 3px; height: 27px;">
        {{ else }}
          {{ .name }}
        {{ end }}
      </a>
    </li>
    {{ end }}
    <li class="nav-item">{{ partial "mode" . }}</li>
  </ul>
</nav>
