{{- define "main" }}
<h1 style="background: url('/images/home.jpg') center/cover no-repeat;height: 32vw;max-height: 500px;min-height: 280px;padding: 10px 30px; color: #565656;">
  {{ .Content }}
</h1>

<div class="content">
  <main>
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ range first 10 $pages }}
      <section class="post__section">
        <a href="{{ .Permalink | relURL }}">
          <h2 class="post__title">{{ .Title }}</h2>
        </a>
        <div class="post__time">{{ dateFormat "2006-01-02" .Date }}</div>
        <p>{{ if .Params.summary }}{{ . }}{{ else }}{{ .Summary }}{{ end }}</p>
        <a class="post__readMore" href="{{ .Permalink | relURL }}">Read More</a>
      </section>
    {{ end }}
  </main>
</div>
{{- end }}
