{{- define "main" }}
<div class="content">
  {{ .Content }}

  <main>
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ range first 10 $pages }}
      <section class="post__section">
        <a href="{{ .Permalink | relURL }}">
          <h2 class="post__title">{{ .Title }}</h2>
        </a>
        <div class="post__time">{{ dateFormat "2006-01-02" .Date }}</div>
        <p>{{ if .Params.summary }}{{ . }}{{ else }}{{ .Summary }}{{ end }}</p>
        <a class="post__readMore" href="{{ .Permalink | relURL }}">Read More</a>
      </section>
    {{ end }}
  </main>
</div>
{{- end }}
